<footer class="page-footer purple">
    <div class="container">
        <div class="row">
        <div class="col l6 12">
            <h5 class="white-text">About GB</h5>
            <p class="grey-text text-lighten-4">
            Yoo thanks for checking this out! I love making content, pushing metas, finding mechanics, and furthering Fortnite as a whole! If you like this type stuff help me and fricken sub to youtube or drop a prime on twitch or your pump will do 20 headshot and you'll only get grey bursts forever
            </p>
        </div>
        <div class="col l3 s12">
            
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
            <li><a class="white-text" href="http://bit.ly/2KAN80z"><i style="font-size: 25px" class="icon-youtube-play"></i> - Youtube</a></li>
            <li><a class="white-text" href="https://twitter.com/notghoulboy"><i style="font-size: 25px" class="icon-twitter"></i> - Twitter</a></li>
            <li><a class="white-text" href="https://twitch.com/ghoulboy"><i style="font-size: 28px" class="fa fa-twitch"></i> - Twitch</a></li>        
            </ul>
        </div>
        </div>
        </div>
        <div class="footer-copyright">
        <div class="container">
        Made by <a class="orange-text text-lighten-3">GHOULBITCH LOL</a>
        </div>
    </div>
</footer>
